# A) Write a Python NumPy program to compute the weighted average along the specified axis of a given flattened array.

In [1]:
import numpy as np

x = np.array([1, 2, 3, 4, 5])
w = np.array([0.1, 0.2, 0.3, 0.2, 0.2])

wa = np.average(x, weights=w)

print("Weighted average:", wa)

Weighted average: 3.2

# Write a Python program to view basic statistical details of the data (Use advertising.csv)

In [2]:
import pandas as pd
df = pd.read_csv('Advertising.csv')
df.describe()

               ID          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000